# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/src/main/res/values/strings.xml

# Firebase Config
ios/firebase_app_id_file.json
**/google-services.json
**/GoogleService-Info.plist
firebase.json

**/secrets_service_impl.dart
**/encryption_service_impl.dart
lib/main.dart.backup

theme.zip

.graphqlconfig
coverage
**/failures/*.png
ios-builds/

# FVM Version Cache
.fvm/
