HASURA_GRAPHQL_ADMIN_SECRET=<Your Admin Secret>
HASURA_GRAPHQL_ENDPOINT="https://example.com/"
HASURA_GRAPHQL_DATABASE_URL=<Your Database URL>
HASURA_GRAPHQL_ENABLE_CONSOLE="false"
HASURA_GRAPHQL_ENABLED_APIS="graphql"
HASURA_GRAPHQL_JWT_SECRET=<Your JWT Secret>
HASURA_GRAPHQL_EXPERIMENTAL_FEATURES="naming_convention"
HASURA_GRAPHQL_DEFAULT_NAMING_CONVENTION="graphql-default"
HASURA_GRAPHQL_ENABLE_TELEMETRY="false"
STUDY_YEAR_ROLL_WEBHOOK_SECRET=<Your Webhook Secret>
STUDY_YEAR_ROLL_NOTIFY_URL='https://{gcp-region}-{gcp-project-id}.cloudfunctions.net/notifyStudyYearRollFailure'
