HASURA_GRAPHQL_ADMIN_SECRET=<Your Admin Secret>
HASURA_GRAPHQL_DATABASE_URL=<Your Database URL>
HASURA_GRAPHQL_ENABLE_CONSOLE="false"
HASURA_GRAPHQL_ENABLED_APIS="graphql"
HASURA_GRAPHQL_JWT_SECRET=<Your JWT Secret>
HASURA_GRAPHQL_EXPERIMENTAL_FEATURES="naming_convention"
HASURA_GRAPHQL_DEFAULT_NAMING_CONVENTION="graphql-default"
HASURA_GRAPHQL_ENABLE_TELEMETRY="false"
HASURA_FF_NAMING_CONVENTION_SEP_2023="True"
