# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
migration/
alt-store-server/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

.env
.env.*
.vscode
!/.vscode/
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/tasks.json
!/.vscode/extensions.json
client/resources/
**/*/churchdata.json
**/*/meetinghelper.json
**/*/node_modules

# FVM Version Cache
.fvm/
