POSTGRES_USER=postgres
POSTGRES_PASSWORD=<a password of your choosing>
POSTGRES_DB=church_admin
POSTGRES_PORT=5432

HASURA_GRAPHQL_ADMIN_SECRET=<an admin secret of your choosing>
HASURA_PORT=8080
HASURA_GRAPHQL_LIVE_QUERIES_MULTIPLEXED_REFETCH_INTERVAL=1000

STUDY_YEAR_ROLL_WEBHOOK_SECRET=local-dev-webhook-secret
STUDY_YEAR_ROLL_NOTIFY_URL=http://firebase-emulators:5001/church-admin-local/europe-west6/notifyStudyYearRollFailure

FIREBASE_PROJECT_ID=church-admin-local
APP_RELEASE_GCS_BUCKET=church-admin-local-releases
